

/*incluindo googlefonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none; /*remover o sublinhado do texto*/
    color: white;
}
#cabecalho{
    background-color: #020001;
    top: 0;
    width: 100%;
    height: 150px;
    align-items: end;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;

#logo img{
    max-width: 20vh;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
}
#menu{
    width: 80%;
    background-color: #340016;
    height: 40px;
}/* não será usado por hora*/

#menu ul{
    list-style: none;/*retirar marcador*/
    display: flex;/*deixa os elementos em linha*/
    align-items: center;
    justify-content: center;
    gap: 30px; /*espaço entre os elementos*/
    font-size: 1,2em;
    padding-left: 100px;/*joga para a esquerda*/
    padding-bottom: 10px;
}

#menu a:hover {
    color: white;  
}
#home, #sobreMim, #portifolio, #contato {
    padding-top: 150px;
    scroll-margin-top: 150px;

}
#home{
    background-image: url(../imagens/frio.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home p{
    width: 80%;
    padding: 15px;
    border-radius: 7px;
    text-align: justify;
    background-color: #FE6C2B;
    color: #fff
    opacity: 95%

}